<p id="notice"><%= notice %></p>

<h1>Posts</h1>
  
    <% @posts.each do |post| %>
      <div class="card">
        <div class="card-body">
          <h5 class="card-title"><strong><%= post.title %></strong></h5>
          <h6 class="card-subtitle mb-2 text-muted"><div id="post_<%= post.id %>_likes"><%= render partial: "likes", locals: {post: post} %></div></h6>
          <p class="card-text"><%= post.body %></p>
          <!-- <a href="#" class="card-link">Card link</a> -->
          <!-- <a href="#" class="card-link">Another link</a> -->
        </div>
      </div>
      <% if user_signed_in? %>
        <%= link_to 'Show', post %> | 
        <%= link_to 'Edit', edit_post_path(post) %> | 
        <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %>
      <% end %>
    <% end %>
<br>

<%= link_to 'New Post', new_post_path %>
